git+git://github.com/MattBSG/token-bucket.git
discord.py
pymongo
jishaku
pylint
tornado
markovify
dialogflow
google-cloud-storage
fuzzywuzzy[speedup]
bs4
selenium
pillow
numpy
pytz
cchardet
aiodns
nintendeals
dpytest
