git+https://github.com/falconry/token-bucket
discord.py
pymongo<=3.12.3
jishaku
pylint
fuzzywuzzy[speedup]
pillow<=9.5.0
pytz
codepoints
emoji_data==0.1.6.1
sentry-sdk
discord-sentry-reporting
aiohttp
python-dateutil
pyyaml
unidecode
numpy