git+git://github.com/falconry/token-bucket
git+https://github.com/Rapptz/discord.py.git@3d74da8d7062f0a61490c7d6cf86a43394aab3e5
pymongo<=3.12.3
jishaku
pylint
fuzzywuzzy[speedup]
pillow
pytz
codepoints
emoji_data
sentry-sdk
discord-sentry-reporting
aiohttp
python-dateutil
pyyaml
pendulum
unidecode

# Workaround for numpy issue on windows. https://stackoverflow.com/a/64661876
numpy==1.19.3; platform_system == "Windows"
numpy>=1.19.4; platform_system == "Linux"